body {
    background-color: rgb(88, 78, 63) ;
    margin: 0;
}
#Main-image {
    width: 100%;
}/*
#second-photo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#third-photo {
    margin-left: auto;
    width: 50%;
}
#fourth-photo {
    margin-left: auto;
    width: 50%;
}*/
.topnav {
    background-color: rgba(19, 17, 14, 0.514);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em; 
}
.topnav a:hover {
    background-color: rgba(19, 17, 14, 0.514);
    color: black;
}
.topnav a.active {
    background-color: rgb(19, 17, 14);
    color: rgb(184, 138, 68);
} 
.content-left, .content-right {
  display: flex;
  width: 100%;
    
   
}
.content-left img, .content-right img {
    height: 480px;
    border-radius: 8px;
    padding-top: 2%;
}
.content-left p {
    flex-basis: 67%;
    padding-top: 2%;
    padding-left: 2%;
} 
.content-right p {
    order: -1;
    flex-basis: 67%;
    padding-top: 2%;
}
.grid-container {
    width: 85%;
    margin: 0 auto;
}
